@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */
#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    height: auto;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('../Imagens/mina.png') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

/* Integrantes */
#integrantes {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#integrantes-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding: 15px;

}

.integrante {
    display: inline-block;
    width: 65%;
    border-radius: 50%;
   

}
/* Integrantes END*/

/* Sobre nós */
#informs {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#informs-container {
    width: 100%;
    height: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 50px;
    height: auto;
}

.inform {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
}

.inform-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}
/* Sobre nós  END*/

/* projeto */
#projeto {
    width: 100%;
    margin: auto;
    padding: 50px;
}

#projeto-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.projeto-image {
    display: inline-block;
    width: 590px;
    height: 380px;
    border-radius: 5px;
}
/* projeto END */

/* Footer */
#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}
/* Footer END */

/* Canvaaas */
#canvas {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
    
}

#canvas-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    justify-items: center;
    
}

.canva-bg {
    background: #333;
    padding: 20px;
    border-radius: 9px;
    text-align: center;   
}

.canva-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.canva-image {
    display: inline-block;
    width: 880px;
    height: 500px;
    border-radius: 5px;
}
/* Canvaaas END*/

/* Sprints */
#sprints {
    width: 100%;
    padding: 50px;

}

#sprints-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-column-gap: 50px;
    gap: 50px;
    width: 40%;
}

.sprint {
    display: flex;
    flex-direction: column;
    background: #bbe4f7;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
}

.sprint-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sprintLista {
    list-style-type:none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 35px;
    text-align: left;
}
.sprintListItens {
    list-style:none;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 1.3rem;
}
/* Sprints  END*/
